{% extends 'layout.html' %}
{% block titulo %}
IMEBU INTRA - INVENTARIO DOCUMENTAL
{% endblock titulo %}

{%block content%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<div class="row justify-content-center mt-2">
    <div class="col-md-11">
        <h1>Direccion</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#direccion">
            Cargar excel
        </button>
        <div class="modal fade" id="direccion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="direccion" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="direccion">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/direccion" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/direccion" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable1">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for dato in sel %}
                {% if dato.13 == 'direccion'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/direccion/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/direccion/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Juridica</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#juridica">
            Cargar excel
        </button>
        <div class="modal fade" id="juridica" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="juridica" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="juridica">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/juridica" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/juridica" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable2">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'juridica'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/juridica/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/juridica/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Subdireccion Administrativa y Financiera</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#subdiraf">
            Cargar excel
        </button>
        <div class="modal fade" id="subdiraf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="subdiraf" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="subdiraf">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/subdiraf" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/subdiraf" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable3">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'subdiraf'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/subdiraf/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/subdiraf/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Contabilidad</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#contabilidad">
            Cargar excel
        </button>
        <div class="modal fade" id="contabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="contabilidad" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="contabilidad">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/contabilidad" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/contabilidad" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable4">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'contabilidad'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/contabilidad/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/contabilidad/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Tesoreria</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#tesoreria">
            Cargar excel
        </button>
        <div class="modal fade" id="tesoreria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="tesoreria" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tesoreria">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/tesoreria" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/tesoreria" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable5">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'tesoreria'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/tesoreria/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/tesoreria/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Subdireccion Tecnica</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#subtecnica">
            Cargar excel
        </button>
        <div class="modal fade" id="subtecnica" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="subtecnica" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="subtecnica">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/subtecnica" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/subtecnica" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable6">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'subtecnica'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/subtecnica/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/subtecnica/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Control Interno</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#controlinterno">
            Cargar excel
        </button>
        <div class="modal fade" id="controlinterno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="controlinterno" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="controlinterno">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/controlinterno" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/controlintern" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable7">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'controlintern'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/controlintern/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/controlintern/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h1>Sistemas</h1>
        <button type="button" class="btn btn-success btn-block mb-2" data-bs-toggle="modal" data-bs-target="#sistemas">
            Cargar excel
        </button>
        <div class="modal fade" id="sistemas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="sistemas" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sistemas">Cargar excel</h5>
                        <a href="/dashboard-gestion-documental" class="btn-close" aria-label="Close"></a>
                    </div>
                    <form method="POST" action="/dashboard-gestion-documental/sistemas" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="archivo" value="Upload" class="btn btn-success btn-block"><br>
                    </div>
                    <div class="modal-footer">
                        <a href="/dashboard-gestion-documental" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/agregar-nuevo/sistemas" class="btn btn-primary btn-block">Agregar nuevo</a>
        <div class="table-responsive mt-2" id="mydatatable-container">
            <table class="records_list table table-striped table-bordered table-hover table-light" id="mydatatable8">
                <thead>
                    <tr>
                        <th>N. orden</th>
                        <th>Codigo</th>
                        <th>Serie, subserie o asunto</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Caja</th>
                        <th>Carpeta</th>
                        <th>Tomo</th>
                        <th>N. folios</th>
                        <th>Soporte</th>
                        <th>Frecu. consulta</th>
                        <th>Notas</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dato in sel %}
                {% if dato.13 == 'sistemas'%}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.6 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td>{{ dato.8 }}</td>
                    <td>{{ dato.9 }}</td>
                    <td>{{ dato.10 }}</td>
                    <td>{{ dato.11 }}</td>
                    <td>{{ dato.12 }}</td>
                    <td>
                          <a href="/update-one/sistemas/{{ dato.0 }}" class="btn btn-secondary btn-edit" id="pim">Actualizar</a>
                          <a href="/delete-one/sistemas/{{ dato.0 }}" class="btn btn-danger btn-delete"id="pim">Eliminar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock content%}

{%block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable1 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable1').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro direccion", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro direccion", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro direccion", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable2 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable2').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro juridica", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro juridica", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro juridica", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable3 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable3').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro subDirAdminFinan", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro subDirAdminFinan", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro subDirAdminFinan", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable4 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable4').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro contabilidad", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro contabilidad", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro contabilidad", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable5 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable5').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro tesoreria", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro tesoreria", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro tesoreria", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable6 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable6').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro subdirTecnica", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro subdirTecnica", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro subdirTecnica", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable7 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable7').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro controlInterno", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro controlInterno", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro controlInterno", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable8 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable8').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": [
                { extend: 'csv', filename: "filtro sistemas", sheetName: "hoja 1" },
                { extend: 'excel', filename: "filtro sistemas", sheetName: "hoja 1", title: null },
                { extend: 'pdf', filename: "filtro sistemas", title: null, pageSize: "LETTER", orientation: 'landscape'/*portrait*/ },
                { extend: 'print', title: '' }]
        });
    });
</script>
{%endblock scripts %}