#mydatatable1 tfoot input {
    width: 100% !important;
}
#mydatatable1 tfoot {
    display: table-header-group !important;
}

#mydatatable2 tfoot input {
    width: 100% !important;
}
#mydatatable2 tfoot {
    display: table-header-group !important;
}

#mydatatable3 tfoot input {
    width: 100% !important;
}
#mydatatable3 tfoot {
    display: table-header-group !important;
}

#mydatatable4 tfoot input {
    width: 100% !important;
}
#mydatatable4 tfoot {
    display: table-header-group !important;
}

#mydatatable5 tfoot input {
    width: 100% !important;
}
#mydatatable5 tfoot {
    display: table-header-group !important;
}

#mydatatable6 tfoot input {
    width: 100% !important;
}
#mydatatable6 tfoot {
    display: table-header-group !important;
}

#mydatatable7 tfoot input {
    width: 100% !important;
}
#mydatatable7 tfoot {
    display: table-header-group !important;
}

#mydatatable8 tfoot input {
    width: 100% !important;
}
#mydatatable8 tfoot {
    display: table-header-group !important;
}